<% if game %>
	<p><%= raw show_opponent %></p>
	<table id='gameboard' data-game-state='<%= game.state %>' data-your-turn='<%= your_turn? %>' data-game-id='<%= game.id %>'>
		<!-- show board from black player perspective -->
		<% row_range.each do |row| %>
			<tr class='y-position-<%= row %>' >
				<% row_range.reverse.each do |column| %>
					<% query_result = game.pieces.find { |p| p["x_position"] == column && p["y_position"] == row } %>
  				<%= raw gameboard_td(query_result, column, row) %>
				<% end %>
			</tr>
	 	<% end %>
	</table> 	
	<p>
		<% unless show_player.nil? %>
			<%= raw show_player %>
		<% else %>
			<%= simple_form_for game, :method => :put do |f| %>
			  <%= f.input :black_player_id, :as => :hidden, :input_html => { :value => current_player.id } %>
			  <%= f.submit 'Join Game' %>
			<% end %>
		<% end %>
	</p>
<% end %>

