<h5>
  <%= link_to game.name, game_path(game) %>
</h5>
<p>
  <% if game.black_player_id.present? %> 
    <%= player_email_from_id(game.black_player_id) %> 
  <% else %>
    <%= link_to 'Invite Player', new_game_invitations_path(game), class: 'button' %> 
  <% end %>
  vs.
  <% if game.white_player_id.present? %> 
    <%= player_email_from_id(game.white_player_id) %> 
  <% else %>
    <%= link_to 'Invite Player', new_game_invitations_path(game), class: 'button' %> 
  <% end %>
</p>