<table id='gameboard'>
	<% if @game && current_player.id != @game.white_player_id %>
		<!-- show board from black player perspective -->
		<% (0..7).each do |row| %>
			<tr class='y-position-<%= row %>' >
				<% 7.downto(0).each do |column| %>
					<td class='x-position-<%= column %>' data-x-position='<%= column %>' data-y-position='<%= row %>' >
					<% if @game %> 
						<% query_result = @game.pieces.where(x_position:column, y_position: row).last %>
						<% if query_result != nil %>
							<%= image_tag query_result.symbol %>
						<% end %>
					<% end %>
					</td>
				<% end %>
			</tr>
	 	<% end %>
	<% else %>
		<!-- show board from white player perspective -->
		<% 7.downto(0) do |row| %>
			<tr class='y-position-<%= row %>' >
				<% (0..7).each do |column| %>
					<td class='x-position-<%= column %>' data-x-position='<%= column %>' data-y-position='<%= row %>' >
					<% if @game %> 
						<% query_result = @game.pieces.where(x_position:column, y_position: row).last %>
						<% if query_result != nil %>
							<%= image_tag query_result.symbol %>
						<% end %>
					<% end %>
					</td>
				<% end %>
			</tr>
	 	<% end %>
	<% end %>
</table>

