<% if game %>
	<p><%= raw show_opponent %></p>
	<table id='gameboard' data-game-state='<%= game.state %>' data-your-turn='<%= your_turn? %>' data-game-id='<%= game.id %>'>
		<!-- show board from black player perspective -->
		<% row_range.each do |row| %>
			<tr class='y-position-<%= row %>' >
				<% 7.downto(0).each do |column| %>
					<% query_result = game.pieces.find { |p| p["x_position"] == column && p["y_position"] == row } %>
  				<%= raw gameboard_td(query_result, column, row) %>
				<% end %>
			</tr>
	 	<% end %>
	</table> 	
	<p><%= raw show_player %></p>
<% end %>

