<div class='game-turn-message'><%= message(@game) %></div>
<div class='game-container'>
	<div class="game-content">
    <h1><%= @game.name %></h1>
    <%= render 'shared/gameboard' %>
  </div>
</div>
<div class="modal">
  <label for="promo-modal">
    <div class="modal-trigger">Click for Modal</div>
  </label>
  <input class="modal-state" id="promo-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="promo-modal"></div>
      <div class="promo-selection-container">
        <hgroup>
          <h4>Pawn Promotion</h4>
          <h6>Choose Your Piece:</h6>
        </hgroup>
        <form action="#">
          <div class="promo-selection-choice">
            <%= image_tag "#{current_player.color_name}-queen.svg" %>
            <label for="">Queen</label>
            <input type="radio">
          </div>

          <div class="promo-selection-choice">
            <%= image_tag "#{current_player.color_name}-rook.svg" %>
            <label for="">Rook</label>
            <input type="radio">
          </div>

          <div class="promo-selection-choice">
            <%= image_tag "#{current_player.color_name}-bishop.svg" %>
            <label for="">Bishop</label>
            <input type="radio">
          </div>

          <div class="promo-selection-choice">
            <%= image_tag "#{current_player.color_name}-knight.svg" %>
            <label for="">Knight</label>
            <input type="radio">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
