<hgroup class="game-details">
	<h1 class="game-name"><%= @game.name %></h1>
	<ul>
		<li>Game ID: <%= @game.id %></li>
		<li>Game State: <%= @game.state %></li>
		<li>Winner: <%= @game.winning_player_id %></li>
		<% if @game.black_player_id.nil? %>
			<li>Game created by: <%= @game.white_player_id %>
			<%= simple_form_for @game, :method => :put do |f| %>
				<%= f.input :black_player_id, :as => :hidden, :input_html => { :value => current_player.id } %>
				<%= f.submit 'Join Game' %>
			<% end %>
		<% else %>
				<li>Player(white): <%= @game.white_player_id %></li>
				<li>Player(black): <%= @game.black_player_id %></li>
		<% end %>
		<div class='game-container'>
			<%= render 'shared/gameboard' %>
		</div>
	</ul>
</hgroup>

<script>
	$(document).ready(function() {
		// boolean to determine if a piece has been selected
		var piece_selected = false;
		// set up variables for ajax call
		var piece_x_position;
		var piece_y_position;
		var destination_x_position;
		var destination_y_position;

		// set up click listener for all tds on gameboard
		$('#gameboard td').click( function() {
			if (piece_selected) {
				// a piece has already been selected, look for destination
				if ( $(this).hasClass('piece-selected') ) {
					// if this was the piece that was already selected, deselect and reset
					deselectPiece(this);
				} else {
					// this must be the destination, make ajax call for a move
					sendMove(this);
				}
			} else {
				// no piece has been selected, select this piece
				selectPiece(this);
			}
		});

		function deselectPiece( piece ) {
			$(piece).removeClass('piece-selected');
			piece_selected = false;
			console.log('deselect piece');
		}

		// this piece (passed as this from click handler) was 
		// selected, give it a styling class, set 
		// boolean and variables
		function selectPiece( piece ) {
			$(piece).addClass('piece-selected');
			piece_selected = true; 
			piece_x_position = $(piece).data("x-position");
			piece_y_position = $(piece).data("y-position");
			console.log('select piece at ', piece_x_position, piece_y_position );
		}

		function sendMove( destination ) {
			// source and destination are selected, send ajax call
			destination_x_position = $(destination).data("x-position");
			destination_y_position = $(destination).data("y-position");
			console.log('make ajax call - move from (', piece_x_position, piece_y_position ,') to (', destination_x_position, destination_y_position, ')');		
		}

	});

</script>
