<div class='game-turn-message'><%= game_message game %></div>
<div class='game-container'>
	<div class="game-content">
    <h1><%= game.name %></h1>
    <%= render 'shared/gameboard' %>
  </div>
</div>
<div class="modal">
  <input class="modal-state" id="promo-modal" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="promo-modal"></div>
        <hgroup>
          <h4>Pawn Promotion</h4>
          <h6>Choose Your Piece:</h6>
        </hgroup>
        <form action="#" class="promotion-choice">
          <div class="promo-selection-container">
            <% ['Queen', 'Bishop', 'Rook', 'Knight'].each do |name| %>
              <div class="promo-selection-choice">              
                <label for="<%= name.downcase %>">
                  <%= piece_image game, current_player, name %>
                  <%= name %>
                </label>
                <input type="radio" name="piece-type" value="<%= name %>" id="<%= name.downcase %>">
              </div>
            <% end %>
        </div>
        <div class="promo-selection-submit">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</div>
