<!DOCTYPE html>
<html>
<head>
  <title>Sprky</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  

</head>
<body>
	<div class='container'>
		<nav class='navbar'>
			<div class='navbar-right'>
				<%= link_to 'Select Game', '#', :class => 'join-game-link' %>  <!-- trigger javascript ajax call -->
				<input type='text' placeholder='Game ID' name='game_id' />
				<% if current_player %>
					<%= link_to 'Sign Out', destroy_player_session_path, :method => :delete %>
					<%= link_to current_player.email, '#' %>
				<% else %>
					<%= link_to 'Sign In', new_player_session_path %>
					<%= link_to 'Sign Up', new_player_registration_path %>
				<% end %>
			</div>
		</nav>

		<div class='alerts'>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>

		<%= yield %>

	</div>

<script>
  $(document).ready( function() {

  	// this will be triggered by clicking join game
  	// $('.join-game-link').click( function()  {
  	// 	var game_id = $("input[name='game_id']").val();
  	// 	alert(game_id);
  		// include ajax call, 'put', :game_id, :player_id
  		// return path should be /game/:id

  	// });

  });

</script>

</body>



</html>
