<!DOCTYPE html>
<html>
<head>
  <title>Sprky</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  

</head>
<body>
	<div class='container main-container'>
		<nav class='navbar'>
			<div class='navbar-left'>
				<div class='logo'>
					<%= link_to 'SPRKY CHESS', root_path %>
				</div>
			</div>
			<div class='navbar-right'>
				<ul>
					<li><%= link_to 'Create Game', new_game_path %></li>
					<li><%= link_to 'Select Game', '#', :class => 'select-game-link' %> </li> <!-- trigger javascript ajax call -->
					<li>
						<input type='text' placeholder='Game ID' name='game_id' />
					</li>
					<% if current_player %>
						<li><%= link_to 'Sign Out', destroy_player_session_path, :method => :delete %></li>
						<li><%= link_to current_player.email, '#' %></li>
					<% else %>
						<li><%= link_to 'Sign In', new_player_session_path %></li>
						<li><%= link_to 'Sign Up', new_player_registration_path %></li>
					<% end %>
				</ul>
			</div>
		</nav>

		<div class='alerts'>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>

		<%= yield %>

	</div>

<script>
  $(document).ready( function() {

  	//this will be triggered by clicking select game
  	$('.select-game-link').click( function()  {
  		var game_id = $("input[name='game_id']").val();
      if (game_id) {
    		var url = '/games/'+game_id;
    		$(location).attr('href',url);
      }
		});

  });

</script>

</body>



</html>
