<!DOCTYPE html>
<html>
  <head>
    <title>Sprky</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
  </head>
  <body data-time-stamp='<%= Time.now.to_i %>' >
    <%= render 'shared/navigation' %>
  	<%= render 'shared/flashes' %>

  	<div class="page-wrapper">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <script src="//use.typekit.net/lqn1oxe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

  </body>
</html>
